@import url('selectors.css');
@import url('button.css');
@import url('footer.css');

@font-face {
  font-family: 'SF Pro';
  src: local('SF Pro'), url('/src/SF-Pro-Display-Regular.otf');
}
:root {
  background-image: url('/src/bg.png');
  background-size: cover;
}
body{
  margin: 0px;
}
.cross{
  position: absolute;
  width: 3.2vw;
  height: 3.2vw;
  left: 6.4vw;
  top: 5.55vh;
}
h1{
  position: absolute;
  width: 72.53vw;
  height: 13.79vh;
  left: calc(50% - 72.53vw/2 + 0.9px);
  top: 13.49vh;

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 860;
  font-size: 2.625rem;
  line-height: 6.9vh;
  letter-spacing: 0.65vw;
  text-align: center;
  color: #FFFFFF;

  text-shadow: 0px 0px 48px rgba(4, 3, 26, 0.833225);
}
.features{
  position: absolute;
  width: 87.25vw;
  height: 20.78vh;
  left: calc((100vw - 87.25vw)/2);
  top: 37.48vh;
}
.card1{
  position: absolute;
  width: 27.84vw;
  height: 20.78vh;
  color: #FFFFFF;
  border: 0.9px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(4, 6, 26, 0.0001) 62.04%, rgba(6, 9, 37, 0.558287) 76.68%, #15072F 100%), url('/src/Bitmap.png');
  background-size: cover;
  border: 0.9px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21.6px rgba(255, 130, 228, 0.235299);
  border-radius: 10.8px;
}
.card2{
  position: absolute;
  width: 27.84vw;
  height: 20.78vh;
  left: 29.6vw;
  color: #FFFFFF;
  border: 0.9px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(4, 6, 26, 0.0001) 62.04%, rgba(6, 9, 37, 0.558287) 76.68%, #15072F 100%), url('/src/Bitmap2.png');
  background-size: cover;
  border: 0.9px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21.6px rgba(255, 130, 228, 0.235299);
  border-radius: 10.8px;
}
.card3{
  position: absolute;
  width: 27.84vw;
  height: 20.78vh;
  color: #FFFFFF;
  border: 0.9px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(4, 6, 26, 0.0001) 62.04%, rgba(6, 9, 37, 0.558287) 76.68%, #15072F 100%), url('/src/Bitmap3.png'), linear-gradient(180deg, #1FB0FF 0%, #C54EF5 59.75%, #140A20 85.27%, #000208 100%), 
  linear-gradient(180deg, #2A61FF 0%, #C54EF5 59.75%, #140A20 85.27%, #000208 100%);
  background-size: cover;
  border: 0.9px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21.6px rgba(255, 130, 228, 0.235299);
  border-radius: 10.8px;
}
.oval{
  position: absolute;
  left: -30.17%;
  right: -2.59%;
  top: -8.44%;
  bottom: 55.84%;

  background: #00BFFF;
  mix-blend-mode: overlay;
  filter: blur(30.5807px);
}
.card_text{
  position: absolute;
  width: 24vw;
  height: 4.05vh;
  left: calc(50% - 24vw/2);
  top: calc(50% - 4.05vh/2 + 6.75vh);

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 13px;
  letter-spacing: 0.65px;
  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
}
.little_pict{
  position: absolute;
  width: 8.688vw;
  height: 8.688vw;
  left: 15.48vw;
  top: 1.976vh;
  border-radius: 50%;
  outline: 1px solid rgba(0, 204, 255, 1);
  outline-offset: 2px;
}
@media screen and (min-height: 800px) {
  :root {
    background-image: url('/src/bg2.png');
    background-size: cover;
  }
  .cross{
    top: 8.55vh;
    left: 6.2vw;
  }
  h1{
    top: 25.2vh;
    line-height: 5.45vh;
  }
  .features{
    width: 87.49vw;
    height: 16.42vh;
    left: calc(12.51vw/2);
    top: 44.28vh;
  }
  .card1{
    width: 26.77vw;
    height: 16.42vh;
  }
  .card2{
    width: 26.77vw;
    height: 16.42vh;
    left: 29.6vw;
  }
  .card3{
    width: 26.77vw;
    height: 16.42vh;
  }
  .card_text{
    width: 23.08vw;
    height: 3.2vh;
    left: calc(50% - 23.08vw/2);
    top: calc(50% - 3.2vh/2 + 5.33vh);
  }
  .little_pict{
    width: 9.88vw;
    height: 9.88vw;
    left: 14.08vw;
    top: 1.19vh;
  }
}